# 一種配置文件，它用於定義程式碼編輯器的設定，以確保整個團隊在使用不同的程式碼編輯器時保持一致的編輯風格

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2
